body {
    font-family: comic san ;
    background-color: black;
    margin-top: 75px;
    color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

